body{
    width: 100%;
    height: 667px;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
.topo{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    position: fixed;
  
    top: 0;
    box-sizing: border-box;
}
.conteudo{
 
    width: 100%;
    top: 80px;
   bottom: 80px;
   position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
  
}
.inferior input{
    outline: 0;
    border: none;
}
.inferior{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0px;
    box-sizing: border-box;
}
.msg{
    box-sizing: border-box;
    display:flex;
    align-items: center;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 4px;
    background-color: white;
    flex-wrap: wrap;
    word-break: break-all;
}
.msg_private{
    box-sizing: border-box;
    display:flex;
    align-items: center;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 4px;
    background-color:  #FFDEDE;
    flex-wrap: wrap;
    word-break: break-all;
}
.usu{
    display: flex;
    align-items: flex-start;
    justify-content:start;
    box-sizing: border-box;
    padding-left: 10px;
    padding-bottom: 5px;
    position: relative;
}
.usu img{
    width: 22px;
    padding-right: 9px ;
    padding-left: 18px ;
    padding-bottom: 10px;
}
.tittle{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 40px;
    flex-wrap: wrap;
   
}
.status{
    box-sizing: border-box;
    display:flex;
    align-items: center;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 4px;
    background-color: #DCDCDC;;
}
 h1{
 color: #AAAAAA;
 padding-right: 5px;
 padding-bottom: 5px;
 padding-top: 5px;
}
 h2{
 font-weight: bold;
 padding-right: 5px;
 padding-bottom: 5px;
 padding-top: 5px;
}
 h3{
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.online{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 270px;
}
.login{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width:100%;
    height: 100%;  
    position:fixed;
    z-index: 2;
    background-color: white;
    top: 0;
}
.hidden{
    display:none;
}
.login img{
    width: 130px;
    margin-bottom: 92px;
    margin-top: 72px;
}
.login input{
   
    width: 261px;
    height:54px ;
    margin-bottom: 15px;
    border:1px solid #D7D7D7;
}
.buttom{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 109px;
    height:45px ;
    background-color:#E7E7E7;
    border-radius:9px ;
}
.infos{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width:259px;
    height: 100%;  
    position:fixed;
    z-index: 3;
    background-color: white;
    top: 0;
    right: 0;
}
.tela_back{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width:100%;
    height: 100%;  
    position:fixed;
    z-index: 2;
    background-color: blaCK;
    opacity: 0.8;
    top: 0;
}
.check{
    position:absolute;
    right: 10px;
    display:none;
    color: #28BB25;
  
    
}
.tela .check{
    display:flex;
}
.inferior h3{
    font-size: 9px;
}
.publico{
    display: flex;
    align-items: flex-start;
    justify-content:start;
    box-sizing: border-box;
    padding-left: 10px;
    padding-bottom: 5px;
    position: relative;
}
.privado{
    display: flex;
    align-items: flex-start;
    justify-content:start;
    box-sizing: border-box;
    padding-left: 10px;
    padding-bottom: 5px;
    position: relative;
}
.publico img{
    width: 22px;
    padding-right: 9px ;
    padding-left: 18px ;
    padding-bottom: 10px;
}
.privado img{
    width: 22px;
    padding-right: 9px ;
    padding-left: 18px ;
    padding-bottom: 10px;
}
.public .check{
    display:flex;
}
.privad .check{
    display:flex;
}